<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="service1" class="com.gmall.jbasedemo.autowire.ServiceClass1">
    </bean>
    <bean id="service2" class="com.gmall.jbasedemo.autowire.ServiceClass2">
    </bean>


    <!-- autowire：byName 配置按照name进行自动注入 -->
    <bean id="autowireMapAndListByType" class="com.gmall.jbasedemo.autowire.AutowireMapAndListByType" autowire="byType"/>

    <!-- 当配置了自动注入，还可以使用手动的方式自动注入进行覆盖，手动的优先级更高一些 -->
<!--    <bean id="diAutowireByName2" class="com.javacode2018.lesson001.demo6.DiAutowireByName" autowire="byName">
        <property name="service2" ref="service2-1"/>
    </bean>-->

</beans>